#jh{
  color: #407213;
  font-size: 30px;
  background-color: #407213;
  padding: 15px;
  margin: 15px;
  border: 7px solid #407213;
  border-radius: 30px;
  opacity: 1;
  width: 200px;
  height: 200px;
  text-align: center;
  font-weight: 900;
  transform: rotate(100deg)scale(0.6);
  transition: 1s all;
}
#jh:hover{
  color: white;
  transform: rotate(0deg);
}
#kh{
  color: #407213;
  font-size: 30px;
  background-color: #407213;
  padding: 15px;
  margin: 15px;
  border: 7px solid #407213;
  border-radius: 30px;
  opacity: 1;
  width: 200px;
  height: 200px;
  text-align: center;
  font-weight: 900;
  transform: rotate(100deg)scale(0.6);
  transition: 1s all;
}
#kh:hover{
  color: white;
  transform: rotate(0deg);
}
#g{
  color: white;
}
#g:hover{
  color: red;
}
.ao{
  border: 10px solid green;
  background-color: green;
  font-size: 20px;
}
.o1{
  border: 10px solid orange;
  background-color: orange;
  font-size: 20px;
  color: orange;
  text-decoration: none;
}
.o2{
  border: 10px solid blue;
  background-color: blue;
  font-size: 20px;
  text-decoration: none;
  color: blue;
}
.o2:hover{
  color: red;
}
.o1:hover{
  color: blue;
}
